./pareto-api/Thumbs.db
./pareto-api/.DS_Store
./pareto-api/.gradle
./pareto-api/build/
./pareto-api/target/
./pareto-api/out/
./pareto-api/.idea
./pareto-api/.idea/
./pareto-api/*.iml
./pareto-api/*.ipr
./pareto-api/*.iws
./pareto-api/.project
./pareto-api/.settings
./pareto-api/.classpath
